<header id="header">
	<nav id="header_" class="navbar navbar-expand-lg navbar-light bg-light">
	  <a class="navbar-brand" href="#"><img src="https://www.mindfruits.biz/wp-content/uploads/2017/06/mindfruits.png" alt="Logo Mindfruits" style="max-height: 70px; height:auto; width:auto; margin-top: 7px;"></a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
	    <div class="navbar-nav">
	      <a class="nav-item nav-link menu_element active" href="/">Accueil <span class="sr-only">(current)</span></a>
	      <a class="nav-item nav-link menu_element" href="/seo-tools">Outils SEO</a>
	      <a class="nav-item nav-link menu_element" href="/seo-tools">Outils SEA</a>
	      <a class="nav-item nav-link menu_element" href='https://www.mindfruits.biz' target="blank" tabindex="-1" aria-disabled="true">L'Agence</a>
	    </div>
	  </div>
	</nav>
</header>
