<header id="header">
	<div id="header_">
		<div id="header_logo">
			<a href="/"><img src="https://www.mindfruits.biz/wp-content/uploads/2017/06/mindfruits.png" alt="Logo Mindfruits" style="max-height: 70px; height:auto; width:auto; margin-top: 7px;"></a>
		</div>
		<div id="menu_principal">
			<div id="menu_principal_">
				<div class="menu_element">
					<p><a href='/'>Accueil</a></p>
				</div>
				<div class="menu_element">
					<p><a href='/seo-tools'>Outils SEO</a></p>
				</div>
				<div class="menu_element">
					<p><a href='/sea-tools'>Outils SEA</a></p>
				</div>
				<div class="menu_element">
					<p><a href='https://www.mindfruits.biz' target="blank">L'Agence</a></p>
				</div>
			</div>
		</div>

		<!--div style="display:inline-block; width:100%;"></div-->
	</div>
</header>
