
  <p>Découvrez comment optimiser votre title et votre meta-description pour Google.</p>
  <input type="title" class="form-control" id="inputTitle" aria-describedby="title" placeholder="Entrez votre title">
  <input type="url" class="form-control" id="inputUrl" aria-describedby="metades" placeholder="Entrez votre URL">
  <input type="metades" class="form-control" id="inputMetades" aria-describedby="metades" placeholder="Entrez votre méta-description">
  <div class="col-12 URL_box mt-4">
    <button onclick="startPreview()" type="button" class="btn btn-lg btn-mindfruits col-12" style="margin-bottom: 30px;">Je teste mes métas</button>
  </div>
