
	<div id="seo_results--visuel">
		<div id="visuel--google">
			<div id="resTitle">Comment optimiser votre Title et Meta-Description | Outils SEO</div>
			<div id="resUrl">https://outils.mindfruits.biz/outils-seo/optimisation-title-metades-seo</div>
			<div id="resMetades">Découvrez comment optimiser votre title et votre meta-description pour les moteurs de recherche. Toutes les astuces et meilleures pratiques !</div>
		</div>

    <hr>

    <div id="visuel--stats">
			<h3>Statistiques relatives au formulaire:</h3>
    </div>
	</div>


	<div id="seo_results--score">
		<div id="score--score">
			<div id="scoreTitle">Votre score d'optimisation</div>
			<div id="scoreResult">&nbsp;&nbsp;&nbsp;&nbsp;/100</div>
		</div>
		<hr>
		<div id="score--advices">

		</div>
	</div>
