
	<div id="seo_results--visuel" class="col-6">
		<div id="visuel--google" class="card">
		  <div class="card-header text-center">
		    Visuels et Statistiques
		  </div>
		  <div class="card-body">
				<div id="resTitle">Comment optimiser votre Title et Meta-Description | Outils SEO</div>
				<div id="resUrl">https://outils.mindfruits.biz/outils-seo/optimisation-title-metades-seo</div>
				<div id="resMetades">Découvrez comment optimiser votre title et votre meta-description pour les moteurs de recherche. Toutes les astuces et meilleures pratiques !</div>

				<hr>

		    <h5 class="card-title">{{titre_stats}}</h5>
		    <p class="card-text">{{content_stats}}</p>
		    <a href="#" class="btn btn-danger">Close</a>
		  </div>
			<div id="visuel--stats">
			</div>
		</div>
	</div>


	<div id="seo_results--score" class="col-6">
		<div id="score--score" class="card text-center">
		  <div class="card-header">
		    Score et Conseils
		  </div>
		  <div class="card-body">
				<div id="scoreTitle">Votre score d'optimisation</div>
				<div id="scoreResult">&nbsp;&nbsp;&nbsp;&nbsp;/100</div>

				<hr>

		    <h5 class="card-title">Special title treatment</h5>
		    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
		    <a href="#" class="btn btn-primary">Go somewhere</a>
		  </div>
			<hr>
			<div>
				<div id="score--advices">

				</div>
			</div>
		</div>
	</div>
