
<div id="tool_box">
  <div id="google_pagespeed"data-url="https://developers.google.com/speed/pagespeed/insights/?hl=fr">
    <button title="Solution google pour diagnostiquer la vitesse d'exécution des pages de votre site web"><img src="https://www.gstatic.com/images/icons/material/product/2x/pagespeed_64dp.png" class="devsite-product-logo" alt="PageSpeed Insights"></button>
    <span>Google Pagespeed</span>
  </div>
  <div id="criteo" data-url="https://www.criteo.com/">
    <button title="Solution de publicité sur internet vraiment efficace"><img src="https://upload.wikimedia.org/wikipedia/commons/f/f1/Criteo_Logo.png" alt="The advertising platform for the open Internet | Criteo"></button>
    <span>Critéo</span>
  </div>
</div>
