<!DOCTYPE html>
<html>
	{{> header}}
		<body>
<div class="mainbloc">
<div class="bloc1">
	<div class="bloc1-1">
				<div class="bloc1-1-1">
<h1 class="bloc1-1-1-h1">Boostez votre <br>Webmarketing<br></h1>
					<div class="bloc1-1-1-1">
						<p style="font-size: 1rem;" class="">Fort de ses 10 ans d'existence et d'une expérience solide de ses collaborateurs, l'agence MindFruits a réuni au même endroit pas moins de 5 outils webmarketing indispensables.</p>
						<p style="font-size: 1rem;padding-top: 40px;color: #A3CC6E;font-weight: bold;" class="">Facilitez-vous la vie dès aujourd'hui, c'est gratuit !</p>
						<div>
							<a href="/#tools">
								<button type="button" class="btn btn-primary btn-lg discover-btn">Je découvre</button>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	<div class="bloc1-2">
			<div class="bloc1-2-1">
				<div class="bloc1-2-1-1">
					<img src="/sandbox.2.png" class="bloc1-2-1-1-img">
				</div>
			</div>
		</div>
	</div>

<div id="tools" style="background-color:#EDECEB;" class="">
        <div class="bloc2-1">
            <div class="bloc2-1-1">        
                <div class="bloc2-1-1-1">
                    <div class="bloc2-1-1-1-1">
                        <h2> Des outils pour toutes les solutions du webmarketing</h2>
                        <p>Grâce aux outils disponibles sur notre plateforme, vous pourrez accélérer et optimiser vos actions webmarketing. Que ce soit pour le SEO, le SEA ou pour simplifier votre quotidien de Webmarketeux, vous trouverez toujours un outil qui vous deviendra indispensable.</p>
                    </div>
                </div>
            </div>
        </div>
     <div class="bloc3">
            <div class="bloc3-1">

                <div class="bloc3-1-1">
                <div class="bloc3-1-1-1">
                	<img src="/sea.png" class="bloc3-1-1-img"> 
                </div>
                <div class="bloc3-1-1-2">
                <h3 style="color:#414141;">NOS OUTILS SEA <br> RÉFÉRENCEMENT PAYANT</h3>
                <p class="bloc3-1-1-p">Profitez des années d'expérience de notre équipe SEA, elle vous a concocté des outils pour faciliter la création et la gestion de vos campagnes.</p>
                <a href="/sea-tools">
					<button type="button" class="btn btn-primary btn-lg bloc3-1-1-btn-1">J'optimise mon SEA</button>
				</a>
				</div>
                </div>
                 <div class="bloc3-1-1">
                <div class="bloc3-1-1-1">
                	<img class="bloc3-1-1-img" src="seo icon.png"> 
                </div>
                <div class="bloc3-1-1-2">
                <h3 style="color:#414141;">NOS OUTILS SEO <br> RÉFÉRENCEMENT NATUREL</h3>
                <p class="bloc3-1-1-p">Retrouvez dans nos outils SEO tous les indispensables des pros du référencement et gagnez des positions sur Google !</p>
                <a href="/seo-tools">
					<button type="button" class="btn btn-primary btn-lg bloc3-1-1-btn-2">J'optimise mon SEO</button>
				</a>
                </div>  
                </div>
                  <div class="bloc3-1-1">
                <div class="bloc3-1-1-1">
                	<img class="bloc3-1-1-img" src="advice.png"> 
                </div>
                <div class="bloc3-1-1-2">
                <h3 style="color:#414141;">NOS CONSEILS D'EXPERTS <br> CONTACTEZ NOUS</h3>
                <p class="bloc3-1-1-p">Si vous avez une problématique webmarketing, ou toutes questions sur nos outils, n'hésitez pas à contacter notre agence de marketing digital.</p>
                <a href="https://www.mindfruits.biz/contact/">
					<button type="button" class="btn btn-primary btn-lg bloc3-1-1-btn-3">Contactez-nous</button>
				</a>
                </div>   
                </div>
                
                
            </div>
        </div>
    </div>


		{{> body_style}}
			
		{{> footer}}
	</body>
	<style type="text/css">
	html {
		scroll-behavior: smooth;
	}
	</style>
</html>

