<!DOCTYPE html>
<html>
	{{> header}}
	<body>
		<h1>{{pageTitle}}</h1>
		<p>This is the website's portfolio.</p>
		<img src="planet.gif" alt="I don't want to live on this planet anymore">
	{{> footer}}
	</body>
</html>