
::-webkit-scrollbar {
  background-color: var(--c0);
}

/* Demonstrate a "mostly customized" scrollbar
 * (won't be visible otherwise if width/height is specified) */
::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #aaa; /* or add it to the track */
}
/* Add a thumb */
::-webkit-scrollbar-thumb {
    background: #000;
}
  body{--c0: #a5cd6e;--cc0:#56565a;}
  #tool_box{display:flex;justify-content: space-around;z-index:10;position:fixed;bottom:0;left:0;padding:0 3rem;width:100%;height:45px;background: whitesmoke;box-shadow:0 0 40px 4px black inset,0 0 40px 4px black;border-top:solid var(--c0);}
  #tool_box>*{width:100px;height:100%;position:relative;float:right;margin:0 20px;border-radius:10px;border:1px solid;cursor:pointer;}
  #tool_box>*:hover{color:gold;}
  #tool_box>*>button{width:100%;height:100%;border-radius:5px;}
  #tool_box>*>button>img{width:50px;height:50px;border-radius:5px;}
  #tool_box>*>button:hover{background:white}
  #tool_box>*>button:hover>img{margin-bottom:1em;border:1px solid gold;transform: translate(0,-2em);cursor:pointer;    background: var(--c0);}
  #tool_box>* iframe{width:100%;position:absolute;height:100%;}
  #tool_box>*:not(.on) iframe{display:none;}
  #tool_box>*>button:hover~span{color:red;}
  #tool_box>*>span{width: 100%;    text-align: center;display: inline-block;color:transparent;position: absolute;    bottom: 0;    left: 0;    font-size: .7em;}
  #google_pagespeed{}

  #header{width:100%; height:90px; background-color:#FFFFFF; box-shadow: 0px 0px 50px #aaa;}
  #header_{width:60%; height:80px; margin-left:auto; margin-right:auto;}
  #header_logo{height:30px; width:20%; float:left;}
  #header_logo>img{max-height: 70px; height:auto; width:auto; margin-top: 7px;}
  #menu_principal{width:80%; float:right;}
  #menu_principal_{float:right;}
  #header_ div.navbar-nav>a.nav-item{border-bottom:solid var(--c0);}
  #header_ div.navbar-nav>a.nav-item.active{border-bottom:solid green;color:var(--c0);}

  #main{border:1px solid silver;box-shadow: 0px 5px 10px 1px;background:white;z-index:10;}
  #main>#hero-section {position:relative;background-image:url(https://sandbox.mindfruits.biz/inbound-marketing.jpg);  }
        #hero-section>.jumbotron{background:none;width:100%;}
        #hero-section>.jumbotron p.lead{    transform: translateY(200%);    color: whitesmoke;}
        #hero-section .container>* {          float: left;    }
  #main>*:not(#hero-section):not(#recommandationsPlaceholder) {    margin: 0 1%;    width: 98%;}
  #main>#seo_back{font-size:10px; font-style: italic;}
  #main form>input:not(#un) {margin-top:1rem;}
  #main form>p{width:100%;text-align:center;}
  #main button.btn-mindfruits{transition:color .3s !important;background-color:var(--c0);color:white;text-shadow:0 0 1px black;    width: 90%;    height: 50px;    box-sizing: border-box;font-weight:100}
  #main button.btn-mindfruits:hover{font-weight: bold;color: var(--c0);    letter-spacing: .1px;    background: white;    border: solid var(--c0);}
  #main button.btn-mindfruits:active{color:orange;border-color:orange}

  /*
  #before_footr{overflow: hidden;margin: 1rem auto;    width: calc((100% / 3) * 2);    box-shadow: 0 0 100px 10px;    position: sticky;    z-index: -1;}
  #before_footr:not(.on){opacity:.5}
  */
  .on,#before_footr:hover{opacity:1}
  table{width: 100%;background:var(--c0) !important;border: solid var(--cc0);}
  table>thead,#before_footr>table>tbody>tr>td:first-of-type{color:var(--cc0);border-right:solid}
  table>thead>tr>th:last-of-type{border-left:solid var(--cc0)}
  table>thead>tr>th:first-of-type{border-right:solid var(--cc0)}
  table>thead>tr{border-bottom:solid}
  table>tbody>tr>td:not(:first-of-type){background:white}
  table>tbody{}
  table td,#before_footr>table th{text-align:center;border:1px solid}
  .on>table{    box-shadow: 0 0 35px 5px black; }
  table,#before_footr>table td,#before_footr>table th{   border-radius: 5px 5px 0 0;}

  #seo_results{}
  #seo_results>*{ opacity: .3;border-bottom:solid;z-index:-1;position:fixed;top:100%;height: 65%;overflow:hidden;}
  #seo_results>*:before{content:"";width:95%;box-shadow:0 0 20px 25px white;position:absolute;bottom:0;}
  #seo_results>#seo_results--score:before{right:0%;}
  #seo_results--visuel{left:0;border-top-right-radius: 15px;}
  #seo_results--score{right:0; font-family: arial,sans-serif;text-align:right;border-top-left-radius: 15px;}
  #seo_results.on>*{z-index:20;top:0%;;opacity:1}
  #seo_results.on>*>*{height:100%;overflow-y: scroll;}
  .on>#seo_results--visuel{}
                          #visuel--google{margin:20px;    margin-right: 200px;}
                          #visuel--stats{background:silver;    position: absolute;    left: 0;    right: 0;    height: 62%;    bottom: 0;    padding: 1rem;}
  .on>#seo_results--score>table{ }
      #seo_results--score>table{ }
  .on>#seo_results--score{}
                          #score--score{margin:20px;    margin-left: 200px;}
                          #score--advices{}
  #r_container{background-color: #FFFFFF;height: 150px;width: 100%; margin-top: 20px;margin-bottom: 20px;padding: 20px;}
      #recommandationsPlaceholder{ height: 0;    padding: 0;}
      #recommandationsPlaceholder>.deco{}
      #recommandationsPlaceholder>.deco:first-of-type{}
      #recommandationsPlaceholder>.deco:last-of-type{}
      #recommandationsPlaceholder>#advices{}
  .on+#recommandationsPlaceholder{ z-index: 20;  width:100%; position: fixed;  left:0;  bottom: 0;     height: 35%;    padding: 1rem;    border-radius: 5px 5px 0 0;    box-shadow: 0 0 10px 1px;   border-top: solid;    background: whitesmoke;}



  #myModal{background:silver;}
  #myModal.on{position:fixed;top:0;right:0;bottom:0;left:0;background:rgba(0,0,0,.5);cursor:pointer;}
  #myModal.plus+iframe#myIframe{height: 700px;box-shadow: 0 0 10px 1px;    border:solid silver;border-bottom: none;opacity:1;}
  iframe#myIframe{position:absolute;    bottom: 45px;    left: 15%;    width: 70%;    height: 0px;   border:none;    background: white;border-radius:5px 5px 0 0;opacity:0.5;}


  .stopFormat{color:#EB6F62}
  .okFormat{color:#16C60C}
  .alertFormat{color:#EA9757}
  #scoreResult{font-weight:bold; font-size:100px;}
  .tr07,#recommandationsPlaceholder,#myModal,#tool_box>*>button,#tool_box>*>button>img,#tool_box>*>span,iframe#myIframe,#seo_results,#seo_results>*,#main button.btn-mindfruits,#before_footr{transition: all .7s;}
