<!DOCTYPE html>
<html>
	{{> header}}
	<body>
		{{> body_style}}
			<div class="hero-section" style="background-image:url(/inbound-marketing.jpg);">
			{{> h1_section}}
			</div>
			<p>Découvrez tous nos outils SEO pour optimiser le référencement de votre site internet rapidement et facilement.</p>

			<div class="first-tool-col">
				<div class="tool-picture-div">
					<img class="tool-picture" src="/google-suggest.png">
				</div>
				<div class="second-tool-col">
					<a href="/sea-tools/keyword-assembler"><h2> Assembleur de mots-clés</h2></a>
					<a href="/sea-tools/keyword-assembler"><p> Construisez des campagnes SEA performantes grâce à notre assembleur de mots-clés. Il vous permettra de créer des listes pertinentes de mots-clés tout en ajoutant facilement les types de correspondance désirés.</p></a>
				</div>
			</div>

			<div class="first-tool-col">
				<div class="tool-picture-div">
					<img class="tool-picture" src="/utm-tracking.png">
				</div>
				<div class="second-tool-col">
					<a href="/sea-tools/utm-campaign-builder"><h2> Création de taggage UTM</h2></a>
					<a href="/sea-tools/utm-campaign-builder"><p> Tagguez facilement vos campagnes marketing en ligne avec notre outil UTM simplifié.</p></a>
				</div>
			</div>
			
			<div class="first-tool-col">
				<div class="tool-picture-div">
					<img class="tool-picture" src="/google-suggest.png">
				</div>
				<div class="second-tool-col">
					<a href="/sea-tools/"><h2> Suggestion des mots-clés</h2></a>
					<a href="/sea-tools/"><p> Récupérez facilement les suggestions des mots-clés issues de Google pour créer votre liste des mots-clés SEA.</p></a>
				</div>
			</div>
		</div>
	{{> footer}}
	</body>


</html>