<!DOCTYPE html>
<html>
	{{> header}}
	<body>
		{{> body_style}}
			<div class="hero-section" style="background-image:url(/inbound-marketing.jpg);">
			{{> h1_section}}
			</div>
			{{> seo_back}}
			<p>Découvrez tous nos outils SEO pour optimiser le référencement de votre site internet rapidement et facilement.</p>
			<h2>Le Crawler MindFruits</h2>
			<p>Votre site est-il correctement crawlé par Google ? Lancez dès maintenant notre crawler et découvrez les URL de votre site qui devraient être optimisées..</p>
			<input type="url" class="form-control" id="website_URL" aria-describedby="website_URL" placeholder="Entrez votre URL">
			<div class="URL_box">
				<button type="button" class="btn btn-primary btn-lg">Je crawle mon site</button>
			</div>
		</div>
	{{> footer}}
	</body>
</html>