<!DOCTYPE html>
<html>
	{{> header}}
	<body>
		{{> body_style}}
			<div class="hero-section" style="background-image:url(/inbound-marketing.jpg);">
			{{> h1_section}}
			</div>
			<p>Découvrez tous nos outils SEO pour optimiser le référencement de votre site internet rapidement et facilement.</p>

			<div class="first-tool-col">
				<div class="tool-picture-div">
					<img class="tool-picture" src="/spider.png">
				</div>
				<div class="second-tool-col">
					<a href="/seo-tools/crawler"><h2> Crawler MindFruits </h2></a>
					<a href="/seo-tools/crawler"><p> Votre site est-il correctement crawlé par Google ? Lancez dès maintenant notre crawler et découvrez les URL de votre site qui devraient être optimisées. </p></a>
				</div>
			</div>

			<div class="first-tool-col">
				<div class="tool-picture-div">
					<img class="tool-picture" src="/google-results.png">
				</div>
				<div class="second-tool-col">
					<a href="/seo-tools/meta-optimizer"><h2> Optimisation de title et meta-description </h2></a>
					<a href="/seo-tools/meta-optimizer"><p> Apprenez à optimiser le title et la meta-description pour améliorer votre référemencent ainsi que le taux de clic naturel vers votre site. </p></a>
				</div>
			</div>
		</div>

	{{> footer}}
	</body>


</html>